* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    background-color: white;
    font-size: medium;
}
.search {
    font-size: 25px;
    font-weight: bold;
}
.header {
    display: block;
    padding: 20px;
    font-size: 45px;
    text-align: center;
    background-color: rgb(59, 0, 207)
};
.search-history {
    
}
